commands:
  01_install_ffmpeg:
    command: |
      yum -y install https://dl.fedoraproject.org/pub/epel/epel-release-latest-7.noarch.rpm
      yum -y install ffmpeg
      echo '/usr/local/lib' > /etc/ld.so.conf.d/ffmpeg.conf
      ldconfig
      echo 'export LD_LIBRARY_PATH=/usr/local/lib:$LD_LIBRARY_PATH' >> /etc/profile.d/ffmpeg.sh
    ignoreErrors: false

files:
  "/etc/profile.d/ffmpeg.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      export LD_LIBRARY_PATH=/usr/local/lib:$LD_LIBRARY_PATH
